body{
    margin: 0;
}
.container{
    margin: 0 165px;
    font-family: Arial, sans-serif;
}


.header-line {
    /* background-color: #fff;
    z-index: 1000;
    position: fixed; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 100px;
    width: 100%;
}

.header-down{
    position: relative;
    background-image: url(../images/indexcar.webp);
    height: 100vh; 
    background-repeat: no-repeat;
    background-size: cover;
}

.header-down::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #02141c;
    opacity: 0.3;
}

.header-info{
position: absolute;
top: 350px;
}

.header-suptitle{
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 20px;
}

.header-title{
    color: #fff;
    font-size: 64px;
    line-height: 72px;
    font-weight: 700;
    margin: 0 0 20px;
}

.header-subtitle{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 40px;
    line-height: 25px;
}

.button{
    background-color: #221f20;
    padding: 20px;
    text-decoration: none;
    color: #fff;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav-item{
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin: 0 25px;
    transition: color 0.4s solid;
}

.nav-item:hover{
    color: red;
}

.header-social-link{
    margin: 0 10px;
}

.news-title{
    font-family: 'Montserrat';
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
}

.cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.card{
    padding: 20px;
    width: 30%;
}

.card:hover{
    background-color: rgba(218, 216, 216, 0.452); 
}

.card-image{
width: 100%;
height: 230px;
}

.card-title{
    font-size: 24px;
    font-weight: 700;
    margin: 40px 0;
}

.card-subtitle{
    font-size: 16px;
    line-height: 28px;
}

.main{
    position: relative;
}

.main-title{
    margin: 100px 0;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    font-family: 'Montserrat';
    color: #221f20;
}

.cars{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.car{
    width: 25%;
    padding: 20px;
}

.car:hover{
    background-color: rgba(218, 216, 216, 0.452)
}

.car-title{
    font-weight: 700;
    text-align: center;
    color: #221f20;
    font-size: 24px;
    line-height: 1.5;
    
}

.car-subtitle, .car-credit{
    font-weight: 400;
    text-align: center;
    color: #221f20;
    opacity: .8;
    font-size: 13px;
    line-height: 1.7142857143;
    letter-spacing: normal;
    margin-bottom: 20px;
}

.car-image{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
}

.car-price{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 400;
    font-size: 23px;
    line-height: 1.5;
    color: #221f20;
    text-align: center;
}

footer{
    display: flex;
    /* align-items: center; */
    background-color: #221f20;
    color: #fff;
    height: 50vh;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-row{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.footer-nav{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.footer-nav-category{
    margin: 0 50px;
}

.footer-social{
    display: block;

}

.footer-images{
    /* display: flex;
    justify-content: center; */
    margin-top: 20px;
}

.footer-img{
    margin-right: 20px;
    border: 1px solid #808386;
}

.footer-link{
    text-decoration: none;
    color: #808386;
}

.footer-nav-list{
    list-style: none;
}

li{
    margin-bottom: 20px;
}

.footer-nav-title{
    margin-bottom: 20px;
    margin-left: 30px;
}